<footer class="footer">
   
    <div class="footer-content">
        <div class="footer-logo">
            <h1>Dominik<span>K</span></h1>
            <p>Legal Notice</p>
        </div>
        <div class="footer-copyright">
            <p>© Dominik Roth 2024</p>
        </div>
        <div class="footer-icons">
            <a href="#"><img src="./background/github.png" alt=""></a>
            <a href="#"><img src="./background/linked.png" alt=""></a>
            <a href="#"><img src="./background/email.png" alt=""></a>
        </div>
    </div>
</footer>
