.footer {
    background-color: #141d2f;
    color: white;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    height: 123px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: 100%;

        .footer-logo {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 24px;
                font-weight: bold;

                span {
                    color: #7dff63; // Grüne Farbe für "K"
                }
            }

            p {
                margin: 5px 0 0;
                font-size: 12px;
                color: #b6b6b6;
            }
        }

        .footer-copyright {
            font-size: 14px;
            text-align: center;
            color: #b6b6b6;
        }

        .footer-icons {
            display: flex;
            gap: 15px;
            padding-right: 127px;

            a {
                display: inline-block;
                width: 24px;
                height: 24px;

                img {
                    width: 100%;
                    height: auto;
                    filter: invert(100%); // Weißer Icon-Effekt
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.2); // Vergrößerung bei Hover
                    }
                }
            }
        }
    }
}