.testimonial-section {
    background-color: #141D2F; // Hintergrundfarbe
    padding: 50px; // Abstand oben und unten
    color: white;

    .testimonial-container {
        display: flex;
        justify-content: space-between; // Verteilt Zitat und Profilbild gleichmäßig
        align-items: center;
        gap: 65px; // Abstand zwischen den beiden Containern
        padding: 36px 366px;

        .quote-box {
            flex: 1; // Nimmt den verbleibenden Platz ein
            border: 2px solid #70e61c; // Grüne Rahmenfarbe
            border-radius: 15px;
            padding: 30px;
            position: relative;

            .quote-icon {
                position: absolute;
                top: -20px;
                left: -20px;
                font-size: 3rem;
                color: #9747FF; // Lila Farbe
                font-weight: bold;
            }

            .quote-text {
                font-size: 1.2rem;
                line-height: 1.8;
                margin-bottom: 20px;
                color: white;
            }

            .author {
                font-size: 1rem;
                line-height: 1.5;
                text-align: right;
                color: #cfd1d4;

                span {
                    color: #ffffff;
                    font-weight: bold;
                }

                &:before {
                    content: "";
                    display: block;
                    width: 60px;
                    height: 2px;
                    background-color: #9747FF;
                    margin: 10px auto;
                }
            }
        }

        .profile-box {
            border: 5px solid #9747FF;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;

            // // Profilbild
            // .profile-picture {
            //     width: 150px;
            //     height: 150px;
            //     border-radius: 50%;
            //     border: 5px solid #00FF00; // Grüner Rand
            //     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            // }

       
             .purple-line {
                position: absolute;
    width: 418px;
    height: 3px;
    background-color: #9747FF; // Grüne Farbe für den Strich
    transform: translateY(-50%);
    margin-top: 77px; // Position nach unten
    margin-left: 203px;
           
               
            }
        }
    }
    
}

