<section class="testimonial-section">
    <div class="testimonial-container">
        <!-- Zitat Box -->
        <div class="quote-box">
            <div class="quote-icon">
               <img src="./background/Frame" alt="">
            </div>
            <p class="quote-text">
                Michael really kept the team together with his great organization and clear communication. We wouldn't have got this far without his commitment.
            </p>
            <p class="author">
                <span>V. Schuster</span> - Team Partner
            </p>
        </div>

        <!-- Profilbild und Lila Strich -->
        <div class="profile-box">
            <img src="profile.jpg" alt="" class="profile-picture">
            <div class="purple-line">
                <img src="./background/Vector" alt="">
            </div>
        </div>
    </div>
    <div class="backgrounds">
        <img src="background\GreenShadow.png" alt="">
    </div>
</section>
