<section class="testimonial-section">
    <div class="testimonial-container">
        <!-- Zitat Box -->
        <div class="quote-box">
            <div class="quote-icon">
                <img src="./background/Frame.png" alt="">
            </div>
            <p class="quote-text">
                Michael really kept the team together with his great organization and clear communication. We wouldn't have got this far without his commitment.
            </p>
            <p class="author">
                <span>V. Schuster</span> - Team Partner
            </p>
        </div>

        <!-- Profilbild und Lila Strich -->
        <div class="profile-box-container">
            <div class="profile-box">
                <img src="profile.jpg" alt="" class="profile-picture">
            </div>
            <img src="./public/Vector.png" alt="Purple Line" class="purple-line">
        </div>
    </div>
</section>
