<section class="testimonial-section">
    <div class="testimonial-container">
        <!-- Zitat Box -->
        <div class="quote-box">
            <div class="quote-icon">
                <img src="./background/Frame.png" alt="">
            </div>
            <p class="quote-text">
                Michael really kept the team together with his great organization and clear communication. We wouldn't have got this far without his commitment.
            </p>
            <p class="author">
                <span>V. Schuster</span> - Team Partner
            </p>
        </div>

        <!-- Profilbild und Lila Strich -->
        <div class="profile">
            <img src="profile-picture.png" alt="">
            <div class="profile-line"></div>
        </div>
    </div>
</section>
