<section>
    <div class="content-wrapper">
        <!-- Hintergrund (green) -->
        <div class="background-green"></div>

        <!-- Shape (titelbackground) -->
        <div class="titelbackground"></div>

        <!-- Foto (Sergej) -->
        <div class="photo">
            <img src="sergej.png" alt="Bild von Sergej">
        </div>
       <img class="hero"   src="HeroBackground.png" alt=""> 
        <!-- Text auf dem Shape -->
        <div class="text-wrapper">
            <div class="iam-and-name">
                <div class="iam">
                    <h2>I am</h2>
                </div>
                <div class="name">
                    <div class="all">
                        <p class="green">Marc Vossler</p>
                        <p class="lila">FrontEnd Developer</p>
                    </div>
                </div>
            </div>
            <div class="buttonDiv">
                <button>Let's Talk</button>
            </div>
        </div>
    </div>
</section>
