<section>
    <div class="photo">
        <img src="public/sergej.png" alt="">
    </div>
    <div class="iam">
        <h2>i am</h2>
    </div>
    <div class="name">
        <div class="all">

            <p class="green">Marc Vossler</p>


            <p class="lila">FrontEnd Developer</p>
            <div class="buttonDiv">
                <button> Lets Talk</button>
            </div>
        </div>

        <div class="scrollDown">
            <h3>Scroll Down</h3>
        </div>
    </div>
</section>