section {
    position: relative;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: calc(100vh - 202px);
    overflow: hidden;
    z-index: 1;

    .background-green {
        position: absolute;
        // top: 213px;
        left: 200px;
        width: 57%;
        height: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        z-index: 20;
    }



    .photo {
        height: 60vh;
        width: 50%;
        z-index: 30;

        img {
            height: 100%;
            width: 95%;
        }
    }

    .iam {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-90deg);
        color: white;
        font-size: 64px;
        z-index: 40;

        >h2 {
            font-weight: 400;
        }

    }

    .name {
        height: 77%;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        font-size: 25px;
        z-index: 40;

        .all {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .green {
                color: white;
                font-size: 54px;
                font-weight: 700;
                font-size: 90px;
            }

            .lila {
                color: #9747FF;
                font-size: 58px;

                >p {
                    font-weight: 400;
                }

            }
        }

        .scrollDown {
            height: 47%;
            width: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
            margin-left: 70%;
            font-size: 15px;
            color: white;
            z-index: 40;

            >h3 {
                font-weight: 400;
            }

        }
    }
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    button {
        background-color: #70e61c; /* Grüne Farbe */
        color: white; /* Weiße Schrift */
        font-size: 23px; /* Schriftgröße */
        font-weight: 600; /* Schriftgewicht */
        padding: 12px 30px; /* Innenabstand (oben/unten, rechts/links) */
        border: none; /* Kein Rand */
        border-radius: 15px; /* Abgerundete Ecken */
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
        cursor: pointer; /* Mauszeiger ändert sich zu Hand */
        transition: all 0.3s ease; /* Animation bei Hover */
        font-weight: 400;
    }

    button:hover {
        background-color: #5fc119; /* Etwas dunkleres Grün beim Hover */
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3); /* Stärkerer Schatten beim Hover */
        transform: translateY(-2px); /* Leichtes Heben beim Hover */
    }

    button:active {
        transform: translateY(2px); /* Button wird bei Klick leicht nach unten gedrückt */
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Schwächerer Schatten bei Klick */
    }
}
