section {
    background-color: #141D2F;
    display: flex
;
    justify-content: start;
    align-items: center;
    padding: -1px 49px;
    z-index: 40;
    position: absolute;
}

#links {
    display: flex;
    align-items: center; 
    gap: 32px; 
    margin-top: 12px;
}

.buttonsSocial img {
    height: 30px;
    width: 30px;
    cursor: pointer; 
}

#links h3 {
    color: white;
    margin: 0; 
    font-size: 18px;
    font-weight: 400;
}
