section{
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    >#links{
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: row;
        margin-top: 12px;

        >.socialButtons img{
            height: 10px;
            width: 10px;

            >img{
                

            }
        }
    }
}